* {
    margin: 0;
    padding: 0;
}

.blog-container{
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 2%;
    /*position: relative;*/
    /*width: 100vw;*/
}

.side-list {
    /*border: 1px solid gray;*/
    width: 20vw;
    height: fit-content;
    position: sticky;
    top: 56px;
    /*position: sticky;*/
    /*top: 0;*/
}

.side-list a {
    text-decoration: none;
}

.blog-main {
    /*border: 1px solid gray;*/
    width: 75vw;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    }

.card {
    margin:1.2em;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article {
    margin: 1em 1em 1em;
}

.article img {
    width: auto;
    height: 250px;
    float: left;
    margin: 0 1em 0 0;
}

.article p {
    /*margin: 0 1em 1em;*/
}


/*contacts page*/

.contacts-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100vw;
}
.c-head{
    display: flex;
    justify-content: center;
}

.c-head img {
    width: 1300px;
}

.content {
    margin: 2em;
}

.main-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.days, .social {
    width: 40%;
}

.social ul {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.c-map {
    margin: 2em;
}

.col-md-3 {
    text-align: center;
}

.card-body a {
    color: black;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.col-md-3 img {
    object-fit: cover;
    max-height: 300px;
}

/*certificates*/

.certificates {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate-item {
    margin: 1em;
    width: 70%;
}

@media screen and (max-width: 1082px) {
    .blog-container {
        /*background: red;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-list, .blog-main {
        width: 95%;
    }
    .side-list a {
        text-align: center;
    }

    .card {
        flex-direction: column;
    }
}