{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="table">
    <table class="table table-striped table-hover">
        {% if articles %}
        {% for article in articles %}
        <tr>
            <td>
                Name:<a href="{{ article.get_absolute_url }}"> {{ article.title }}</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h2 class="featurette-heading fw-normal lh-1">Ops... Seems like that is no result for "{{ q }}"</h2>
        {% endif %}
    </table>
</div>

{% endblock %}